<div class="container-fluid">
    <div class="row" ng-show="msg">
        <div class="col-xs-12 col-sm-4" style="min-height: 71px;">
            <p class="alert alert-success" ng-show="err.val || msg.val">{{err.val}}{{msg.val}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sx-6 day" ng-repeat="day in week.days">
            <div class="panel panel-default">
                <div class="panel-heading"><input type="checkbox" ng-model="day.shifts.active"> {{day.shifts.date | date : 'EEEE dd/MM/yyyy'}}</div>
                <div class="panel-body">
                    <div class="row shift" ng-repeat="(k,shift) in ShiftsNames">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-4 shiftlabel"><input type="checkbox" ng-model="day.shifts[k].active"> {{shift.name}}</div>
                                <div class="col-xs-4">
                                    <label>Start Time</label>
                                    <hl-timepicker ng-model="day.shifts[k].startTime" disabled="!day.active || !day.shifts[k].active"></hl-timepicker>
                                    <!--<input type="time" step="900" placeholder="HH:MM" ng-model="day.shifts[k].startTimeHour()">-->
                                </div>
                                <div class="col-xs-4">
                                    <label>End Time</label>
                                    <hl-timepicker ng-model="day.shifts[k].endTime" disabled="!day.active || !day.shifts[k].active"></hl-timepicker>

                                    <!--<input type="time" step="900" placeholder="HH:MM">-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-8">
                                    <label>Default Time</label>
                                    <hl-timepicker ng-model="day.shifts[k].defaultTime" disabled="!day.active || !day.shifts[k].active"></hl-timepicker>

                                    <!--<input type="time" step="900" placeholder="HH:MM">-->
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
