<div class="container-fluid">
    <div class="row" ng-show="msg">
        <div class="col-xs-12 col-sm-4" style="min-height: 71px;">
            <p class="alert alert-success" ng-show="err.val || msg.val">{{err.val}}{{msg.val}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sx-6 day" ng-repeat="day in week.days">
            <div class="panel panel-default">
                <div class="panel-heading"><input type="checkbox" ng-model="day.shifts.active">
                    <span ng-show="!day.shifts.basic"> {{day.shifts.date | date : 'EEEE dd/MM/yyyy'}} </span>
                    <span ng-show="day.shifts.basic"> {{day.shifts.date | date : 'EEEE'}} </span>
                </div>
                <div class="panel-body">
                    <div class="row shift" ng-repeat="shift in day.shifts.shifts" ng-show="day.shifts.active">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-4 shiftlabel"><input type="checkbox" ng-model="shift.active"> {{shift.name}}</div>
                                <div class="col-xs-4" ng-hide="!shift.active">
                                    <label>Start Time</label>
                                    <hl-clockpicker ng-model="shift.startTime"></hl-clockpicker>
                                    <!--<input type="time" step="900" placeholder="HH:MM" ng-model="day.shifts[k].startTimeHour()">-->
                                </div>
                                <div class="col-xs-4"  ng-hide="!shift.active">
                                    <label>End Time</label>
                                    <hl-clockpicker ng-model="shift.endTime"></hl-clockpicker>

                                    <!--<input type="time" step="900" placeholder="HH:MM">-->
                                </div>
                            </div>
                            <div class="row"  ng-hide="!shift.active">
                                <div class="col-xs-4 col-xs-offset-8">
                                    <label>Default Time</label>
                                    <hl-clockpicker ng-model="shift.defaultTime"></hl-clockpicker>

                                    <!--<input type="time" step="900" placeholder="HH:MM">-->
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
