<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td> Status </td>
                        <td> Color </td>
                        <td>  </td>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(statusId,statusObject) in eventsStatuses">
                        <td class="status"> <span> {{ statusId }}</span></td>
                        <td class="color">
                            <spectrum-colorpicker ng-model="statusObject.color" options="{preferredFormat: 'hex'}" ng-change="changed(statusId, statusObject)"></spectrum-colorpicker>
                        </td>
                        <td> <button class="btn btn-danger" ng-click="remove(statusId)">Remove</button> </td>
                    </tr>
                <tr>
                    <td colspan="3">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newStatus.status" placeholder="Enter status">
                            </div>
                            <div class="form-group">
                                <spectrum-colorpicker ng-model="newStatus.color" options="{preferredFormat: 'hex'}"></spectrum-colorpicker>
                            </div>

                            <button class="btn btn-default" ng-click="add(newStatus)">Add +</button>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
            <p class="alert alert-success" ng-show="msg.val">{{msg.val}}</p>
            <p class="alert alert-danger" ng-show="err">{{err}}</p>
        </div>
    </div>
</div>