<div class="container-fluid" ng-controller="ShiftsCtrl">
    <div class="row">
        <div class="col-xs-12">
            <h2> Edit Shifts for {{business.name}}</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <tabset>
                <tab heading="Basic Shifts">
                    <shifts-editor week="basic" business-id="{{business.$id}}"></shifts-editor>
                </tab>
                <tab heading="Shifts by Date">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-default" ng-click="previousWeek()"> << </button>
                            <input type="text" disabled="true" value="{{weekNumber | weekRangeByWeekNumber }}">
                            <button class="btn btn-default" ng-click="nextWeek()"> >> </button>
                        </div>
                    </div>
                    <!--<shifts-editor week="{{weekNumber}}" business-id="{{business.$id}}" ng-if="active"></shifts-editor>-->
                </tab>
            </tabset>
        </div>
    </div>
</div>
