<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<h2> {{business.name}}</h2>-->

            <!--<a ui-sref="dashboard.business.map({businessId : business.$id})"> Edit Map </a>-->
            <!--<a ui-sref="dashboard.business.shifts({businessId : business.$id})"> Edit Shifts </a>-->
            <!--<a ui-sref="dashboard.business.eventsStatuses({businessId : business.$id})"> Edit Events Statuses </a>-->
            <!--<a ui-sref="dashboard.events.show({businessId : business.$id})"> Events Mangamnet </a>-->
            <!--<a ui-sref="dashboard.business.eventsDuration({businessId : business.$id})"> Events Duration </a>-->



        <!--</div>-->
    <!--</div>-->
<!--</div>-->
