<div class="container-fluid shifts-editor">
    <div class="row" ng-show="msg">
        <div class="col-xs-12 col-sm-4" style="min-height: 71px;">
            <p class="alert alert-success" ng-show="err.val || msg.val">{{err.val}}{{msg.val}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 day" ng-repeat="day in week.days">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span ng-show="!day.basic"> {{day.date | date : 'EEEE dd/MM/yyyy'}} </span>
                    <span ng-show="day.basic"> {{day.date | date : 'EEEE'}} </span>
                    <span class="pull-right" ng-show="!day.basic">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="day.isEnabled" ng-change="dayWasChanged(day)"> Enable Custom
                        </label>
                    </span>
                </div>
                <div class="panel-body" ng-if="day.basic || day.isEnabled">
                    <div class="row shift" ng-repeat="shift in day.shifts">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-4 shiftlabel"><input type="checkbox" ng-model="shift.active"> {{shift.name}}</div>
                                <div class="col-xs-4" ng-hide="!shift.active">
                                    <label>Start Time</label>
                                    <input pick-a-time="shift.startTime" on-change="dayWasChanged(day)">
                                </div>
                                <div class="col-xs-4"  ng-hide="!shift.active">
                                    <label>End Time {{shift.duration}}</label>
                                    <input shift-duration="shift">

                                </div>
                            </div>
                            <div class="row"  ng-hide="!shift.active">
                                <div class="col-xs-4 col-xs-offset-8">
                                    <label>Default Time</label>
                                    <!--<input hl-timepicker ng-model="shift.defaultTime" ng-change="dayWasChanged(day)">-->

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
