#map-container{
  border:0px dashed #aaa;width:700px;height:600px;overflow: scroll;
  background: rgb(237, 237, 237);

}

#map-col{
  border:3px solid #9C9C99;


  background: rgb(237, 237, 237);
  height: 100%;
  padding:0;
  position: relative;
  #map-container{
    width:100%;
    height: 100%;
  }
}