.event-form-v2{
  border: 1px solid lightgrey;
  margin: 10px 15px;
  .event-form-header{
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  form{
    .form-group{
      margin-bottom:5px;
      &.event-duration{
        input{
          outline:none;
          border:0;
        }
      }
    }
  }
}