<div class="container-fluid event-form-v2">
    <div class="row event-form-header">
        <div class="col-lg-12">
            <span ng-show="!eventObj.$id"> {{ 'NEW_EVENT' | translate }} </span>
            <span ng-show="eventObj.$id"> {{ 'EDITED_EVENT' | translate }} </span>
        </div>
    </div>
    <form class="form-horizontal form-validation" role="form" name="eventForm">
        <div class="form-group event-duration">
            <div class="col-sm-12">
                <table class="table table-responsive table-event-duration">
                    <tr>
                        <td class="the-date">
                            <!--<input type="text" class="datepicker-input" pick-a-date="event.data.startTime"/>-->
                            <event-form-base-date-picker ng-model="event.data.baseDate"></event-form-base-date-picker>
                        </td>
                        <td class="start-time">
                            <input event-start-time-validator hl-timepicker ng-model="event.data.startTime" settings="{baseDate : event.data.baseDate}">
                        </td>
                        <td class="to-text">
                            <span> {{ 'TO' | translate }} </span>
                        </td>
                        <td class="end-time">
                            <input event-end-time-validator hl-timepicker ng-model="event.data.endTime" settings="{min : event.data.startTime, showDurationFromDate : event.data.startTime, range : 300}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group" ng-show="!event.data.isOccasional">
            <label class="col-sm-4 control-label">{{ 'PHONE' | translate }}</label>
            <div class="col-sm-8">
                <input event-phone-validator name="phone" type="phone" class="form-control phone-input" ng-class="{'ng-required' : (requiredInputs.phone)}" ng-model="event.data.phone" placeholder="{{ 'PHONE' | translate }}" hl-event-phone-validator is-occasional="event.data.isOccasional"">
                <div style="width:100%;position:relative;"  event-phone-typeahead="event"></div>

            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ 'NAME' | translate }}</label>
            <div class="col-sm-8">
                <input event-name-validator name="name" type="text" class="form-control" ng-class="{'ng-required' : (requiredInputs.name)}" ng-model="event.data.name" placeholder="{{ 'NAME' | translate }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ 'HOSTESS' | translate }}</label>
            <div class="col-sm-8">
                <input event-hostess-validator name="hostess" type="text" class="form-control" ng-class="{'ng-required' : (requiredInputs.hostess)}" placeholder="{{ 'HOSTESS' | translate }}" ng-model="event.data.hostess">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">{{ 'GUESTS_AMOUNT' | translate }}</label>
            <div class="col-sm-8">
                <input event-guests-validator  name="guests" type="text" class="form-control" ng-class="{'ng-required' : (requiredInputs.guests)}"  ng-model="event.data.guests" placeholder="0">
            </div>
        </div>


        <div class="form-group" ng-if="!event.data.isOccasional">
            <label class="col-sm-4 control-label">{{ 'CONTACT_PERSON' | translate }}</label>
            <div class="col-sm-8">
                <input event-contact-person-validator type="text" class="form-control"  placeholder="{{ 'CONTACT_PERSON' | translate }}" ng-model="event.data.contact">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">{{ 'SEATS' | translate }}</label>
            <div class="col-sm-8">
                <input event-seats-validator hl-seats-input type="text"  ng-class="{'ng-required' : (requiredInputs.seats)}" class="form-control" ng-model="event.data.seats">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ 'COMMENT' | translate }}</label>
            <div class="col-sm-8">
                <input event-comment-validatortype="text" class="form-control"  ng-model="event.data.comment" placeholder="{{ 'COMMENT' | translate }}">
            </div>
        </div>
        <div class="form-group" ng-if="!event.data.isOccasional">
            <label class="col-sm-4 control-label">{{ 'CONTACT_COMMENT' | translate }}</label>
            <div class="col-sm-8">
                <input event-contact-comment-validator type="text" class="form-control" ng-model="event.data.contactComment" placeholder="{{ 'CONTACT_COMMENT' | translate }}">
            </div>
        </div>


        <div class="form-group" ng-if="!event.data.isOccasional">
            <label class="col-sm-4 control-label">{{ 'EMAIL' | translate }}</label>
            <div class="col-sm-8">
                <input event-email-validator type="text" class="form-control"  ng-model="event.data.email" placeholder="{{ 'EMAIL' | translate }}">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">{{ 'STATUS' | translate }}</label>
            <div class="col-sm-8">
                <hl-status-selector event-status-validator ng-model="event.data.status" ng-change="eventStatusChanged(event)"></hl-status-selector>
            </div>
        </div>


        <div class="form-group" event-seating-options-validator ng-show="seatingOptions">
            <label class="col-sm-4 control-label">{{ 'SEATING_OPTIONS' | translate }}</label>
            <div class="col-sm-8">
                <div ng-repeat="(id,item) in seatingOptions"> <input type="checkbox" ng-model="event.data.seatingOptions[id ]"> {{item.option}}</div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button class="btn btn-default" ng-click="close()" type="button"> {{ 'BACK' | translate }}</button>
                <button class="btn btn-danger" ng-click="remove()" ng-show="!$isNew()"  type="button"> {{ 'DELETE' | translate }} </button>
                <button class="btn btn-success" ng-click="save()" type="button"> {{ 'SAVE' | translate }}</button>
            </div>
        </div>

        <div class="form-group created-at" ng-if="event.data.createdAt">
            <span>
                {{'CREATED_AT' | translate }} {{ event.data.createdAt | date : 'dd/MM/yyyy HH:mm'}}
            </span>
        </div>
    </form>

</div>

