<div class="row" id="search-row">
    <div class="col-xs-3 search-input-col">
            <input type="text" placeholder="{{'SEARCH' | translate}}" ng-model="query">
    </div>
    <div class="col-xs-3 button-col">
        <button class="" ng-click="goToNow()"> {{ 'NOW' | translate }} </button>
    </div>

    <div class="col-xs-3 button-col">
        <button class=""> {{ 'REPLACE_BUTTON_LABEL' | translate }} </button>
    </div>
    <div class="col-xs-3 button-col">
        <button class="" ng-click="newEventWithSeatsDic('destination')">+ {{ 'ADD_BUTTON_LABEL' | translate }}</button>
    </div>
</div>

<div class="row" id="events-table-row">
    <div class="col-xs-12">
        <div class="row" id="events-lists-filter-buttons-row">
            <div class="col-xs-3" ng-repeat="filter in filters" ng-click="selectFilter(filter)" ng-class="{selected : (selectedFilter == filter)}">
                <span>{{filter | translate}}</span>
            </div>
        </div>
        <div class="row" id="the-events-list-row">
            <div class="col-xs-12">
               <table id="events-table">
                   <thead>
                    <tr>
                        <th class="status-col"> {{ 'STATUS' | translate }} </th>
                        <th class="name-col"> {{ 'NAME' | translate }} </th>
                        <th class="guests-col"> {{ 'GUESTS' | translate }} </th>
                        <th class="seats-col"> {{ 'SEATS' | translate }} </th>
                        <th class="time-col"> {{ 'TIME' | translate }} </th>
                    </tr>
                   </thead>
                    <tbody hl-event-form event="newEvent" ng-if="newEvent"></tbody>

                   <tbody class="edited-event existing-event top-form" ng-show="!event.helpers.isEditing" ng-repeat-start="event in (events.events = (TimelyFilteredEvents.filteredEvents | statusesFilter:selectedFilter | filter : {name : query} | orderBy : 'startTime'))">
                       <tr  class="events-table-row" ng-click="openEditedEvent(event)">
                           <td class="status-col"> <hl-status-selector ng-model="event.status" ng-change="eventStatusChanged(event, $event)"></hl-status-selector> </td>
                           <td class="name-col">
                               <span ng-show="!event.helpers.isEditing"> {{event.name}} </span>
                               <span ng-show="event.helpers.isEditing"> <input type="text" ng-model="event.name" placeholder="{{ 'NAME' | translate }}" class="">  </span>
                           </td>
                           <td class="guests-col">
                               <span ng-show="!event.helpers.isEditing"> {{event.guests}} </span>
                               <span ng-show="event.helpers.isEditing"> <input type="text" ng-model="event.guests" placeholder="0" class="">  </span>

                           </td>
                           <td class="seats-col"> {{event.seats | seats}} </td>
                           <td class="time-col"> {{event.startTime | date : 'HH:mm'}} </td>
                       </tr>
                   </tbody>
                   <tbody hl-event-form event="event" ng-if="event.helpers.isEditing"></tbody>
                   <tbody ng-repeat-end="">
                        <tr ng-if="$last" class="events-table-row">
                            <td colspan="2">{{'TOTAL_EVENTS' | translate}} : {{$index + 1}}</td>
                            <td colspan="1"></td>
                            <td colspan="2">{{'TOTAL_GUESTS' | translate}} : {{countTotalGuestsForFilteredEvents()}}</td>
                        </tr>
                   </tbody>


                   <tr class="separator-table-row" ng-if="selectedFilter == 'ALL'"> <td colspan="5">{{"DEAD_EVENTS" | translate }}</td> </tr>

                   <tbody class="edited-event existing-event top-form" ng-if="selectedFilter == 'ALL'" ng-show="!event.helpers.isEditing" ng-repeat-start="event in TimelyFilteredEvents.filteredEvents | statusesFilter:'DEAD'">
                   <tr  class="events-table-row" ng-click="openEditedEvent(event)">
                       <td class="status-col"> <hl-status-selector ng-model="event.status" ng-change="eventStatusChanged(event, $event)"></hl-status-selector> </td>
                       <td class="name-col">
                           <span ng-show="!event.helpers.isEditing"> {{event.name}} </span>
                           <span ng-show="event.helpers.isEditing"> <input type="text" ng-model="event.name" placeholder="{{ 'NAME' | translate }}" class="">  </span>
                       </td>
                       <td class="guests-col">
                           <span ng-show="!event.helpers.isEditing"> {{event.guests}} </span>
                           <span ng-show="event.helpers.isEditing"> <input type="text" ng-model="event.guests" placeholder="0" class="">  </span>

                       </td>
                       <td class="seats-col"> {{event.seats | seats}} </td>
                       <td class="time-col"> {{event.startTime | date : 'HH:mm'}} </td>
                   </tr>
                   </tbody>
                   <tbody hl-event-form event="event" ng-if="event.helpers.isEditing" ng-repeat-end=""></tbody>


               </table>
            </div>
        </div>
    </div>
</div>