<tr class="event-form-row" ng-if="event.helpers.isEditing">
    <td colspan="5">
        <table class="table">
            <tr>
                <td> <input type="text" ng-model="event.phone" placeholder="{{ 'PHONE' | translate }}" class=""> </td>
                <td> <input type="text" ng-model="event.email" placeholder="{{ 'EMAIL' | translate }}" class=""> </td>
            </tr>
            <tr>
                <td> <input type="text" placeholder="{{ 'HOSTESS' | translate }}"  ng-model="event.hostess"> </td>
                <td>Event Type</td>
            </tr>
            <tr>
                <td colspan="2">  <input type="text" ng-model="event.contactComment" placeholder="{{ 'CONTACT_COMMENT' | translate }}" class=""> </td>
            </tr>
            <tr>
                <td colspan="2"> <input type="text" ng-model="event.comment" placeholder="{{ 'COMMENT' | translate }}" class=""> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-default" ng-click="close(event)"> {{ 'BACK' | translate }}</button>
                    <button class="btn btn-danger" ng-click="remove(event)" ng-show="event.$id"> {{ 'DELETE' | translate }}</button>
                    <button class="btn btn-success" ng-click="save(event)"> {{ 'SAVE' | translate }}</button>
                </td>
            </tr>
        </table>
    </td>
</tr>