<div class="container-fluid" id="events-navigation-container">
    <div class="row" id="events-navigation-row">
        <div class="col-xs-12 col-md-1 nav-col" id="logo-col">
            <h2> {{business.name||'Logo'}} </h2>
        </div>
        <div class="col-xs-12 col-md-3  nav-col" id="date-col">
            <div class="mini-centered-row">
                <input type="text" class="datepicker-input" ng-click="openDatePicker($event)" datepicker-popup="dd/MM/yyyy" ng-model="DateHolder.current"  is-open="datePickerOpened" close-text=""/>
            </div>
            <div class="mini-centered-row">
                <div class="styled-shift-select">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle">
                            {{ShiftsDayHolder.selected.name | translate}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="selectAllDayShift()"><a href="#" dropdown-toggle>{{ 'ENTIRE_DAY_SHIFT' | translate}}</a></li>
                            <li ng-repeat="shift in ShiftsDayHolder.current.shifts | activeShift" ng-click="ShiftsDayHolder.selected = shift"><a href="#" dropdown-toggle>{{shift.name | translate}}</a></li>
                        </ul>
                    </div>
                </div>
                <hl-timepicker ng-model="DateHolder.current" static-callback="dateHolderStaticCallback" static-options="timepickerStaticOptions" min-hour="ShiftsDayHolder.selected.startTime" max-hour="ShiftsDayHolder.selected.endTime"></hl-timepicker>
            </div>
            <div class="mini-centered-row">
            </div>
                <!--<hl-clockpicker ng-model="DateHolder.current"  ng-hide="DateHolder.isEntireShift"></hl-clockpicker>-->
        </div>
        <div class="col-xs-12 col-md-6  nav-col" id="summary-col">
            <h3 class="shift-heading"> {{ShiftsDayHolder.selected.name+'_SHIFT' | translate}}</h3>
            <div class="row">
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-green">{{totalOrdersCount}}</div>
                    <div class="title"> {{ 'TOTAL_ORDERS' | translate}} </div>
                </div>
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-red">{{totalGuestsCount}}</div>
                    <div class="title"> {{ 'TOTAL_GUESTS' | translate}} </div>
                </div>
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-blue"> {{totalGuestsLeft}} </div>
                    <div class="title"> {{ 'GUESTS_LEFT' | translate}} </div>
                </div>
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-yellow">{{totalWalkinsCount}}</div>
                    <div class="title"> {{ 'TOTAL_WALKINS' | translate}} </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-2  nav-col" id="menu-col">
            <!--menu-container-->
        </div>
    </div>
</div>