<div class="container-fluid" id="events-navigation-container">
    <div class="row" id="events-navigation-row">
        <div class="col-xs-12 col-md-1 nav-col" id="logo-col">
            <h2> {{business.name||'Logo'}} </h2>
        </div>
        <div class="col-xs-12 col-md-3  nav-col" id="date-col">
                <input type="text" class="datepicker-input" ng-click="openDatePicker($event)" datepicker-popup="dd/MM/yyyy" ng-model="DateHolder.current"  is-open="datePickerOpened" close-text=""/>
                <hl-timepicker ng-model="DateHolder.current"  ng-hide="DateHolder.isEntireShift"></hl-timepicker>

        </div>
        <div class="col-xs-12 col-md-6  nav-col" id="summary-col">
            <h3 class="shift-heading"> {{ShiftsDayHolder.selected.name | capitalize}} Shift </h3>
            <div class="row">
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-green">{{totalOrdersCount}}</div>
                    <div class="title"> {{ 'TOTAL_ORDERS' | translate}} </div>
                </div>
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-red">{{totalGuestsCount}}</div>
                    <div class="title"> {{ 'TOTAL_GUESTS' | translate}} </div>
                </div>
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-blue"> {{totalGuestsLeft}} </div>
                    <div class="title"> {{ 'GUESTS_LEFT' | translate}} </div>
                </div>
                <div class="col-xs-3 col-md-3 circle-container">
                    <div class="circle circle-yellow">{{totalWalkinsCount}}</div>
                    <div class="title"> {{ 'TOTAL_WALKINS' | translate}} </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-2  nav-col" id="menu-col">
            <!--menu-container-->
        </div>
    </div>
</div>