<div id="map-editor">

    <div id="map-tools" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add Seats
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="seatNumber" placeholder="Seat Number" ng-model="seatNumber" ng-show="selectedNewShape.isSeat">
                            </div>
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        {{selectedNewShape.shapeName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="shape in shapes"><a href="javascript:;"  ng-click="selectNewShape(shape)"> {{ shape.shapeName | translate }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-default" ng-click="addShape()">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Selected Seats : <span class="alert-danger">{{selectedShape.seatString()}}</span>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group" ng-show="selectedShape.id">
                                <input type="text" class="form-control" id="" placeholder="Seat Number" ng-model="selectedShape.seatNumber" ng-change="seatNumberChanged(selectedShape)" ng-show="selectedShape.seatNumber || selectedShape.seatNumber == 0">
                            </div>
                            <div class="form-group"  ng-show="selectedShape">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                        {{'SEATING_OPTIONS' | translate}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="(id, item) in business.seatingOptions">
                                            <input type="checkbox" ng-model="newSeatingOptions[id]" ng-click="clickOnCheckbox($event)" ng-change="seatingOptionsChanged()"> {{item.option}}
                                        </li>
                                        <li>
                                            <button type="btn btn-default"> {{'FINISH' | translate}}</button>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!--<button class="btn btn-default" ng-click="cloneShape(selectedShape)" ng-show="selectedShape.id">Clone</button>-->
                            <button class="btn btn-danger" ng-click="removeShape(selectedShape)" ng-show="selectedShape">Remove</button>
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-container">
        <div id="map"></div>
        <div id="map-controls"><a id="up" href="javascript:;"></a><a id="down" href="javascript:;"></a></div>
    </div>
</div>
