<div id="map">
    <div id="map-controls">
        <h3> Map Controls </h3>

        <div class="row">
            <div class="col-lg-6">
                <h4>Add Elements</h4>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label> Seat Number </label>
                        <input type="text" class="form-control input-sm"  ng-model="newSeat.seatNumber" style="width:50px;">
                    </div>
                    <div class="form-group">
                        <label> Seat Type </label>
                        <select class="form-control input-sm" ng-options="v as k for (k,v) in seatConfigs" ng-model="newSeat.seatConfig">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addSeat(newSeat)">Add</button>
                </form>

            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div id="map-container" style="border:5px solid black;width:700px;height:550px;overflow: scroll;">
        <canvas id="canvas" width="700" height="550"></canvas>
    </div>
    <p ng-show="err" class="text-danger"> {{err}}</p>
    <p ng-show="msg" class="text-success"> {{msg}} </p>

</div>
