/****** New Event ******/
tbody.event-form{
  background: #414141;
  border:3px solid #bb62ff;
  > tr.event-form-row{
    color:white;
    > td{
      border-left:1px solid #353034;
      border-bottom:1px solid #353034;
      padding: 10px;
    }
    &:hover{
      background: inherit !important;
    }
  }
  >tr.events-table-row{

    > td{
      border-left:1px solid #ffe8fc;
      border-bottom:1px solid #ffe7fb;
    }
    input{
      width:100%;
      background: transparent;
      border:0;
      text-align: center;
      color:white;
      outline: none;
    }
  }
  input{
    width:100%;
    background: transparent;
    border:0;
    color:white;
    outline: none;
    height: 28px;

  }


}

.ui-timepicker-container {
  min-width: 120px !important;
}

.ui-timepicker {
  min-width: 114px !important;
}
