#events-navigation{
  background: black;
  color:white;
  #logo-col{

  }
  #date-col{
    height: 115px;
    padding-top:35px;
    .datepicker-input{
      border:0;
      background: transparent;
      font-size: 30px;
      color:#add8e6;
      outline:none;
      height: 45px;
      display: block;
    }
    .hl-timepicker{
      input{
        color:#add8e6;
        font-size: 22px;
        text-align: center;
        background: transparent;
        outline: none;
        border: 0;

      }
    }
  }
  #summary-col{
    padding-top:10px;
    .circle-container{
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: center;
      -webkit-box-align: center;

      display: -moz-box;
      -moz-box-orient: horizontal;
      -moz-box-pack: center;
      -moz-box-align: center;

      display: box;
      box-orient: horizontal;
      box-pack: center;
      box-align: center;

      .circle{
        border:4px solid;
        border-radius:65px;
        width:65px;
        height:65px;
        line-height:65px;
        text-align: center;
        font-size:24px;

        &.circle-green{
          border-color:greenyellow;
        }
        &.circle-blue{
          border-color:#add8e6;
        }
        &.circle-red{
          border-color:indianred;
        }
        &.circle-yellow{
          border-color:#ffff00;
        }

      }
    }
  }
  #menu-col{

  }
}