<div class="page-forgot">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/"> ZED </a>
            </section>
        </div>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>
                            <span class="glyphicon glyphicon-th"></span>
                            {{'YOUR_BUSINESSES' | translate}} {{user.businesses.length}}
                        </strong>
                    </div>
                    <table class="table">
                        <tr ng-repeat="(businessId, business) in businesses">
                            <td> <a ui-sref="business.show({businessId : businessId})"> {{business.name}}</a> </td>
                            <td> <button class="btn btn-primary"> {{ 'EDIT' | translate }}</button> </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a ui-sref="new-business"> {{'ADD_NEW_BUSINESS' | translate}}</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

