
<div id="nav-wrapper">
    <ul id="nav"
        slim-scroll
        collapse-nav
        highlight-active>
        <li><a ui-sref="business.show({businessId : business.$id})"> <i class="fa fa-dashboard"></i><span> {{'HOME' | translate }} </span> </a></li>
        <li><a ui-sref="business.map({businessId : business.$id})"> <i class="fa fa-dashboard"></i><span>{{'EDIT_MAP'| translate }}</span> </a></li>
        <li><a ui-sref="business.shifts({businessId : business.$id})"> <i class="fa fa-dashboard"></i><span>{{'EDIT_SHIFTS'| translate }}</span> </a></li>
        <li><a ui-sref="business.eventsStatuses({businessId : business.$id})"> <i class="fa fa-dashboard"></i><span>{{'EDIT_EVENTS_STATUSES'| translate }}</span> </a></li>
        <li><a ui-sref="business.eventsDuration({businessId : business.$id})"> <i class="fa fa-dashboard"></i><span>{{'EDIT_EVENTS_DURATION'| translate }}</span> </a></li>
        <li><a ui-sref="events.show({businessId : business.$id})"> <i class="fa fa-dashboard"></i><span>{{'EVENTS_MANAGEMENT'| translate }}</span> </a></li>
    </ul>
</div>

