body.rtl{
  direction:rtl;
  .pull-left > .dropdown-menu{
    right:0;
  }
  .top-nav{
//    padding: 0 100px 0 0;
    padding: 50px 0px 0;
    @media (min-width: @screen-sm) {
      padding: 0 100px 0 0;
    }

    .nav-left{
      float:right;
      direction: rtl;
      li{
        float:right;
        &:last-child{
          border-left: 1px solid #e9e9e9;
        }
      }

      li.datepicker-col{
        .dropdown-menu{
          width:313px;
          table{
            outline:none;
          }
          li{
            &:last-child{
              width:200px;
            }
          }
        }
      }
    }
    .nav-right{
      float:left !important;
      li{
        float:right;

      }
    }
  }

  #events-list-container {
    right: 0px;
    left:auto;
    width: 423px;
    #events-list.panel{
        .panel-heading{
          .filter-events{
            float:right !important;
          }
          .search-events{
            float:left !important;
          }
        }
    }
  }

  #nav-container {
    right: 0px;
    left:auto;
    width: 220px;
    text-align: right;
  }






  table.table-event-duration{
    .the-date{
      .dropdown-menu{
        width:313px;
        table{
          outline:none;
        }
        li{
          &:last-child{
            width:200px;
          }
        }
      }
    }
  }


  .content{
    right: 220px;
    left:0;
  }

  &.body-special {
    .content.events{
      right: 423px;
      left:0;
    }
  }

}