<table class="table table-responsive table-event-duration">
    <tr>
        <td class="the-date">
            <input type="text" class="datepicker-input" ng-click="datepickerOpened=true" datepicker-popup="dd/MM/yyyy" ng-model="event.startTime" ng-change="changeDate()"  is-open="datepickerOpened" close-text=""/>
        </td>
        <td class="start-time">
            <hl-timepicker ng-model="event.startTime" min-time="minStartTime" max-time="maxStartTime"></hl-timepicker>
        </td>
        <td class="to-text">
            <span> {{ 'TO' | translate }} </span>
        </td>
        <td class="end-time">
            <hl-timepicker ng-model="event.endTime" show-duration-min-time="true" min-time="event.startTime" time-range="endTimeRange"></hl-timepicker>
        </td>
        <!--<td class="duration-minutes">-->
            <!--<div class="dropdown event-duration-dropdown">-->
                <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<span>{{durationLabel}} {{'MIN' | translate}}</span>-->
                    <!--<span class="caret"></span>-->
                <!--</a>-->
                <!--<div class="dropdown-menu pull-right with-arrow">-->
                    <!--<ul class="list-group">-->
                        <!--<li class="list-group-item" ng-repeat="(duration,val) in durations"  ng-click="changeDuration(duration)">-->
                            <!--<span class="block">{{duration}} {{'MINUTES_SHORT' | translate }}</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</td>-->
    </tr>
</table>
