<div class="picker picker--time picker--focused picker--opened">
    <div class="picker__holder">
        <div class="picker__frame">
            <div class="picker__wrap">
                <div class="picker__box">
                    <ul class="picker__list">
                        <li class="picker__list-item" ng-class="{'picker__list-item--selected picker__list-item--highlighted picker__list-item--viewset' : (item === activeItem)"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>