<div class="shift-organizer">
    <div class="shift-organizer-inner">
        <table class="table table-striped">
            <thead>
            <tr>
                <td> {{ 'SEAT' | translate }} </td>
                <td ng-repeat="hour in hours"> {{hour}}:00</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(seatNumber, events) in eventsBySeats">
                    <td > <span class=""> {{seatNumber}} </span> </td>
                    <td colspan="{{hours.length}}">
                        <div shift-organizer-event class="one-liner-text shift-organizer-event" ng-repeat="event in events"><span class="guests">{{event.data.guests}}</span>{{event.data.name}} {{event.data.startTime | momentFilter : 'HH:mm'}}</div>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>