<div class="shift-organizer">


    <div class="shift-organizer-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <td> {{ 'SEAT' | translate }} </td>
                <td ng-repeat="hour in hours"> {{hour}}:00</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="seatNumber in seats">
                <td> <span class=""> {{seatNumber}} </span> </td>
                <td ng-repeat="hour in hours"> </td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="shift-organizer-events">
        <div ng-repeat="event in eventsBySeats" shift-organizer-event class="one-liner-text shift-organizer-event" ng-click="clickOnEvent(event, e)"><span class="guests">{{event.event.data.guests}}</span>{{event.event.data.name}} {{event.event.data.startTime | momentFilter : 'HH:mm'}}</div>
    </div>



</div>