@nav_bg:                @dark;
@nav_border:            darken(@nav_bg, 10%);
@sub_nav_bg:            @nav_bg;
@link_color:            @text-color;
@link_active_bg:        @brand-primary;
#events-list-container {
    z-index: 11; // should be highter than top header
    position: absolute;
    top: @header_height;
    bottom: 0;
    left: 0px;
    width: @events_list_width;
    padding: 0;
    background-color: @nav_bg;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    // .transition(all .3s ease-in-out);
    ul {
        padding-left: 0;
        list-style: none;
    }


}

#events-list-wrapper {
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    width: 100%;
    height: 100%;
}

#events-list {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
  .panel-heading{
    background-color: @link_active_bg;
    color:white;
    height: 40px;
    .pull-left{
     > a{
        padding: 10px;
        color:white;
        text-decoration: none;
      }
      &.switch-button{
         > a{

         }
        &.active{
          >a{
            color : @brand-warning;
          }
        }
      }
     >ul.dropdown-menu{
       li{
         cursor:pointer;
         span{
           display: block;
           padding: 3px 20px;
           clear: both;
           font-weight: normal;
           line-height: 1.42857143;
           color: #333333;
           white-space: nowrap;
         }
         &:hover{
           background: @skin-light;
         }
       }
     }
    }
    .pull-right{
      &.search-events{
        i.glyphicon{
          color:#eee;
          font-size: 12px;
        }
        input{
          background: transparent;
          border: 0;
          outline: none;
          color: white;
          padding-left:3px;
          width:80px;
          &::-webkit-input-placeholder{
            color:#eee;
          }
        }
      }
    }
  }

  tr.events-table-headers{
    th{
      padding: 10px 2px;
    }
    .th-status{
      width:65px
    }
    .th-time{
      width:55px;
    }
    .th-guests{
      width:30px;
    }
    .th-name{

    }
    .th-seats{
      width:75px;
    }
  }


  .event-form{
    background: #F5FFE8;
  }

  .event-row{
    &.switching{
      background:pink;
    }
  td{
    padding: 10px 2px;
      &.status-col{
        a{
          text-decoration: none;
        }
      }
      &.name-col{
        cursor:pointer;
      }
      input{
        border:0;
        background: transparent;
        outline:none;
        width:100%;
        &.input-badge{
          background:#999;
          color:white;
          border-radius: 10px;
          text-align: center;
        }
      }


    }
  }

  tr.events-switch-title{
    text-align: center;
    background: @brand-warning;
    > td{
      padding: 1px;
    }
    span{
      color:white;
      font-size:11px;
      text-decoration: none;
    }

  }

  tr.upcoming-events-title{
    text-align: center;
//    background : #aaa;

    > td{
      padding: 1px;
    }
    span{
//      color:white;
      font-size:11px;
      text-decoration: none;
    }

  }


  tr.dead-events-title{
    text-align: center;
    background : #aaa;
    &.showed{
      background: @brand-danger;
    }

    > td{
      padding: 1px;
    }
    a{
      color:white;
      font-size:11px;
      text-decoration: none;
    }

  }

  tr.event-form-title{
    text-align: center;
    background: @brand-success;
    > td{
      padding: 1px;
    }
    span{
      color:white;
      font-size:11px;
    }
  }
  .event-form-row{
    > td{
      padding:0;
      table.table{
        background:transparent;
        margin-bottom: 0;
        border:0 !important;
        tr{
          &:first-child{
            td{
              border-top:0;
            }
          }
          td{
            input{
              border:0;
              background: transparent;
              outline:none;
              &::-webkit-input-placeholder {
                //          color: #eeeeee;
              }
            }
          }
        }
      }
    }
  }
}

