
<div class="modal-header">
    <h3 class="modal-title">{{ 'ARE_YOU_SURE' | translate }}</h3>
</div>
<div class="modal-body">
    <p class="text-danger">
        {{ warningMsg | translate }}
    </p>
    <div ng-if="extraDetails.event">
        <p> {{'NAME' | translate }} : {{ extraDetails.event.data.name }} </p>
        <p> {{'START_TIME' | translate }} : {{ extraDetails.event.data.startTime | momentFilter : 'HH:mm' }} </p>
        <p> {{'END_TIME' | translate }} : {{ extraDetails.event.data.endTime | momentFilter : 'HH:mm' }} </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-show="buttons.ok">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" ng-show="buttons.cancel">Cancel</button>
</div>
